手动提供凭据
Firebase 项目支持 Google 服务帐号，您可以使用这些帐号从应用服务器或受信任环境调用 Firebase 服务器 API。如果您在本地开发代码，或在本地部署您的应用，则可以使用通过此服务帐号获取的凭据来向服务器请求授权。

如需对服务帐号进行身份验证并授权其访问 Firebase 服务，您必须生成 JSON 格式的私钥文件。

如需为您的服务帐号生成私钥文件，请执行以下操作：

在 Firebase 控制台中，打开设置 > 服务帐号 https://console.firebase.google.com/project/_/settings/serviceaccounts/adminsdk 。

点击生成新的私钥，然后点击生成密钥进行确认。

将下载的 json 文件复制一份放在 config 目录下。
